<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
    #secondary {
        margin-left: -30px;
    }

    #secondary li:last-child {
        border-bottom: none;
    }
</style>
<ul id="menu">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href={{ site.baseurl }}/organisation">Organisation</a></li>
    <li>
        <a href="{{ site.baseurl }}/members">Members</a>
        <ul id="secondary">
            <li><a href="{{ site.baseurl }}/members-voting">Voting</a></li>
            <li><a href="{{ site.baseurl }}/members-corresponding">Corresponding</a></li>
        </ul>
    </li>
    <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
    <li><a href="{{ site.baseurl }}/newsletters">Newsletters</a> <span style="font-size:small;">2003-Today</span></li>
    <li><a href="{{ site.baseurl }}/circulars">Circulars</a> <span style="font-size:small;">1955-2002</span></li>
    <li>
        <a href="{{ site.baseurl }}/groups">Groups</a>
        <ul id="secondary">
            <li><a href="{{ site.baseurl }}/groups-task">Task</a></li>
            <li><a href="{{ site.baseurl }}/groups-working">Working</a></li>
        </ul>
    </li>
</li>
</ul>

<div style="padding:10px;">
    <h4>Wise Words</h4>
    <p><em>"Criticism is something you can avoid easily by saying nothing, doing nothing, and being nothing"</em></p>
    <p style="text-align:right;">Aristotle</p>
</div>
    
    
    
    
    
    
    
    
    
    

